## Merging 2018 Trip Data

In [71]:
# Dependencies
import pandas as pd

In [72]:
# Store filepath in a variable
csv1 = "TripData/JC-201801-citibike-tripdata.csv"
csv2 = "TripData/JC-201802-citibike-tripdata.csv"
csv3 = "TripData/JC-201803-citibike-tripdata.csv"
csv4 = "TripData/JC-201804-citibike-tripdata.csv"
csv5 = "TripData/JC-201805-citibike-tripdata.csv"
csv6 = "TripData/JC-201806-citibike-tripdata.csv"
csv7 = "TripData/JC-201807-citibike-tripdata.csv"
csv8 = "TripData/JC-201808-citibike-tripdata.csv"
csv9 = "TripData/JC-201809-citibike-tripdata.csv"
csv10 = "TripData/JC-201810-citibike-tripdata.csv"
csv11 = "TripData/JC-201811-citibike-tripdata.csv"
csv12 = "TripData/JC-201812-citibike-tripdata.csv"

In [73]:
# Read CSVs with the pandas library
csv1_df = pd.read_csv(csv1, encoding="ISO-8859-1")
csv2_df = pd.read_csv(csv2, encoding="ISO-8859-1")
csv3_df = pd.read_csv(csv3, encoding="ISO-8859-1")
csv4_df = pd.read_csv(csv4, encoding="ISO-8859-1")
csv5_df = pd.read_csv(csv5, encoding="ISO-8859-1")
csv6_df = pd.read_csv(csv6, encoding="ISO-8859-1")
csv7_df = pd.read_csv(csv7, encoding="ISO-8859-1")
csv8_df = pd.read_csv(csv8, encoding="ISO-8859-1")
csv9_df = pd.read_csv(csv9, encoding="ISO-8859-1")
csv10_df = pd.read_csv(csv10, encoding="ISO-8859-1")
csv11_df = pd.read_csv(csv11, encoding="ISO-8859-1")
csv12_df = pd.read_csv(csv12, encoding="ISO-8859-1")

In [74]:
# csv1_df.head()
csv1_df[["starttime", "stoptime"]].head()

                  starttime                  stoptime
0  2018-01-01 02:06:17.5410  2018-01-01 02:21:50.0270
1  2018-01-01 12:06:18.0390  2018-01-01 12:15:28.4430
2  2018-01-01 12:06:56.9780  2018-01-01 12:15:27.8100
3  2018-01-01 14:53:10.1860  2018-01-01 14:59:05.0960
4  2018-01-01 17:34:30.1920  2018-01-01 17:38:40.9840

In [75]:
# csv2_df.head()
csv2_df[["starttime", "stoptime"]].head()

                  starttime                  stoptime
0  2018-02-01 07:38:15.8650  2018-02-01 07:40:30.5820
1  2018-02-01 08:19:35.8160  2018-02-01 08:26:29.6490
2  2018-02-01 08:31:03.0860  2018-02-01 08:32:20.3510
3  2018-02-01 15:23:15.0850  2018-02-01 15:29:59.9300
4  2018-02-01 15:26:01.8240  2018-02-01 15:29:52.5440

In [76]:
# compile the list of dataframes you want to merge
mergedTripData = pd.concat([csv1_df, csv2_df, csv3_df, csv4_df, csv5_df, csv6_df, csv7_df, csv8_df, csv9_df, csv10_df, csv11_df, csv12_df])

In [77]:
# Remove the period and the last four digits from the 2018 time fields
mergedTripData["starttime"] = mergedTripData["starttime"].str.slice(0, -5)
mergedTripData["stoptime"] = mergedTripData["stoptime"].str.slice(0, -5)

In [78]:
mergedTripData[["starttime", "stoptime"]].head()

             starttime             stoptime
0  2018-01-01 02:06:17  2018-01-01 02:21:50
1  2018-01-01 12:06:18  2018-01-01 12:15:28
2  2018-01-01 12:06:56  2018-01-01 12:15:27
3  2018-01-01 14:53:10  2018-01-01 14:59:05
4  2018-01-01 17:34:30  2018-01-01 17:38:40

In [79]:
# Export file as a CSV, without the Pandas index, but with the header

mergedTripData.to_csv("TripData/2018TripData.csv", index=False, header=True)